<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000901057714-ocauoqvsgg97ajd0p8g28lo6obcq10ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000901057714-ocauoqvsgg97ajd0p8g28lo6obcq10ac</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1000901057714-0kk2n8h8pmc525m1r9mah0d2940ipd8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2LekgLLHJjoRzut4C22Olqy6HtILJIDs</string>
	<key>GCM_SENDER_ID</key>
	<string>1000901057714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.centrexcursionistalcoi.app</string>
	<key>PROJECT_ID</key>
	<string>centre-excursionista-d-alcoi</string>
	<key>STORAGE_BUCKET</key>
	<string>centre-excursionista-d-alcoi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000901057714:ios:bb9082b487fa08a9d47dab</string>
</dict>
</plist>