name: Server Tests

on:
  pull_request:
    paths:
      - '.github/workflows/test-app.yml'
      - 'composeApp/**'
      - '*.gradle.kts'
      - '*.properties'
      - 'gradle/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_tests:
    name: Run app tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '21'
          java-package: jdk
          cache: 'gradle'

      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run App Tests
        id: app_tests
        run: ./gradlew :composeApp:check

      - name: Upload test results (on failure)
        if: ${{ steps.app_tests.outcome == 'failure' }}
        uses: actions/upload-artifact@v6
        with:
          name: app-test-results
          retention-days: 3
          path: |
            composeApp/build/test-results
            composeApp/build/reports/tests
