name: Server Tests

on:
  pull_request:
    paths:
      - '.github/workflows/build-server.yml'
      - 'server/**'
      - '*.gradle.kts'
      - '*.properties'
      - 'gradle/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_tests:
    name: Run server tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '21'
          java-package: jdk
          cache: 'gradle'

      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Pre-pull PostgreSQL image
        run: docker pull postgres:17

      # See: https://github.com/testcontainers/testcontainers-java/issues/11212
      - name: Set Docker API version
        run: echo api.version=1.44 >> ~/.docker-java.properties

      - name: Run Server Tests
        id: server_tests
        env:
          TESTCONTAINERS_RYUK_DISABLED: true
          TESTCONTAINERS_CHECKS_DISABLE: true
          TESTCONTAINERS_HOST_OVERRIDE: localhost
        run: ./gradlew :server:check

      - name: Upload test results (on failure)
        if: ${{ steps.server_tests.outcome == 'failure' }}
        uses: actions/upload-artifact@v6
        with:
          name: server-test-results
          retention-days: 3
          path: |
            server/build/test-results
            server/build/reports/tests
